<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>this is your log</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div class="jumbotron">
    <h1>Please Log In!</h1>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">return to index</a></p>
</div>

<div class="input-group input-group-lg">
    <span class="input-group-addon" id="sizing-addon1">User</span>
    <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
</div>

<div class="input-group input-group-lg">
    <span class="input-group-addon" id="sizing-addon1">Code</span>
    <input type="text" class="form-control" placeholder="Code" aria-describedby="sizing-addon1">
</div>

</body>
</html>